.content-body {
	min-height: 650px !important;
}

.content-body .container-fluid {
	padding-bottom: 50px !important;
}

.footer {
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
}

.dataTables_wrapper {
	padding: 0px !important;
}

