@page
@model CleanArchitecture.Pages.License.Index

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="text-title pt-2">Device License</h3>
            </div>
            <div class="card-body py-0">
                <div class="table-responsive">
                    <table class="table table-bordered datatable">
                        <thead>
                            <tr>
                                <th width="5%" class="text-center">No</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Module</th>
                                <th>Qty</th>
                                <th>Expired</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}
