@page
@model CleanArchitecture.Pages.Profile.Password
@{
    ViewData["Title"] = "Setting Password";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 mb-3">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-link" href="/Profile">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <a class="nav-link active" href="/Profile/Password">
                        <i class="fa fa-gear"></i> Setting Password
                    </a>
                </nav>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <input type="text" class="form-control" id="oldPassword" placeholder="Enter old password"
                        value="">
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="text" class="form-control" id="newPassword" placeholder="Enter new password"
                        value="">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="setProfile()">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function setProfile() {
            let formData = JSON.stringify({
                OldPassword: $('#oldPassword').val(),
                NewPassword: $('#newPassword').val()
            })

            submitFormData(formData, `${baseUrlApi}/Auth/change-password`, 'POST', '', 'application/json');
        }
    </script>
}